html, body {
  height: 100%;
}

body {
  background-color: #eeeeee;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:50px; /* this needs to be bigger than footer height*/
}

.navbar-brand.img {
  padding: 0;
}

.btn {
  border-radius: 100px;  
}